<div>
    <h2>Patient</h2>
    <div>
        <b>THIS IS A MOCK OF OVERRAL STRUCTURE AND IS NOT MEANT TO BE PRETTY</b>
    </div>
    <div>
        <p th:text="${patient.getNameFirstRep().getNameAsSingleString()}">Unknown</p>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Identifiers</th>
                <th>System</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="identifier : ${patient.getIdentifier()}">
                <td th:text="${identifier.getValue()}"></td>
                <td th:text="${identifier.getSystem()}"></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div>
        DoB : <b th:text="${#dates.format(patient.getBirthDate(),'dd MMM YYYY')}">Unknown</b>
    </div>
    <div>
        GP Practice :<b th:text="${patient.getManagingOrganization().getDisplay()}">Unknown</b>
    </div>
    <div>
        GP  :<b th:text="${patient.getGeneralPractitionerFirstRep().getDisplay()}">Unknown</b>
    </div>
</div>